{% set bem_block = 'previous_next' %}
<div class="{{ bem_block }}" >
  <div class="{{ bem_block }}__previous">
    {% if previous %}
    <a href="{{ previous.url }}" class="{{ bem_block }}__link {{ bem_block }}__link--previous">
      <span>{{ 'Previos'|t }}</span>
      {{ previous.label }}
    </a>

    {% endif %}
  </div>

  <div class="{{ bem_block }}__next">
    {% if next %}
    <a href="{{ next.url }}" class="{{ bem_block }}__link {{ bem_block }}__link--next">
      <span>{{ 'Next'|t }}</span>
      {{ next.label }}
    </a>

    {% endif %}
  </div>
</div>
