{% set bem_block = 'footer' %}

<footer class="{{ bem_block }}">
  <div class="{{ bem_block }}__content"t></div>

  {{ snippet('social_links' , { bem_block: 'footer-social' }) }}

  {{ footer_memu }}

  <div class="{{ bem_block }}__copyright">
    &copy; {{ 'now'|date('Y') }} <strong>Niklan2022</strong> All rights reserved.
  </div>
</footer>
